<section class="oe_container">
    <div>
        <div class="text-center">
            <a target="new" href="http://www.acespritech.com">
                <img src="ace_logo.png">
            </a>
        </div>
    </div>
</section>
<br/>
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Odoo 11 Point of Sale Extension</h2>
            <h3 class="oe_slogan">Allows user pay partially for POS orders. </h3>
            <br/>
            <div><font style="color:red;font-weight:bold;"><b>Note: </b>This module is tested and working in Odoo community edition but not tested in Enterprise version. And we are supporting Ubuntu OS and not Windows OS.</font></div>
            <div>
                <h3>
                    Features
                </h3>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">
                        This module use mainly to do the partial payment for pos orders.<br />
                        For example: Let say customer comes to the shop and he purchase order total $200,
                        but if he want to pay only $100 as half payment and remaining due amounts pay to next day.
                    </li>
                    <li style="color:#30054D;font-weight:bold;">As well as user can view past pos orders, reorder the particular drafted order and make a order as draft from POS. It is also possible to re-print receipt and view products of order from pos order list. There are some filtration based on state, date of order and also searching functionality.</li>
                </ul>
            </div>
            <h4 class="oe_slogan">How to use</h4>
            <div class="oe_screenshot" style="text-align: left;">
	            <img style="max-width: 100%;" src="1_order.png"><br /><br />
	            <img style="max-width: 100%;" src="main_screenshot.png"/><br /><br />
	            <img style="max-width: 100%;" src="3_partial_recpt.png"><br /><br />
	            <img style="max-width: 100%;" src="4_unpaid_ordes.png"><br /><br />
                <img style="max-width: 100%;" src="5_payment_history.png"><br /><br />
                <img style="max-width: 100%;" src="5_full_payment.png"><br /><br />
                <img style="max-width: 100%;" src="6_full_pay_recpt.png"/><br /><br />
                <img style="max-width: 100%;" src="7_update_paid.png"><br /><br />
                <img style="max-width: 100%;" src="8_upaid_order.png"><br /><br />
                <img style="max-width: 100%;" src="9_close_session.png"><br /><br />
                <img style="max-width: 100%;" src="10_forword_to_next_session.png"><br /><br />
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
   <div class="oe_row" style="background-color: #008000;"> 
       <div style="margin-bottom:10px;" class="oe_slogan text-center">
           <div class="oe_span12">
               <h3 class="text-center" style="color:#FFFFFF; font-size:20px"><b>NOTE:</b> We give 60 days support for our customers. Before trying in your live db, please ask us to provide you for test link. If any other custom modules are installed and because of that some errors occurs then we charge extra.</h3>
           </div>
       </div>
   </div>
   <div class="oe_row" style="background-color: #004CFF;"> 
       <div style="margin-bottom:10px;" class="oe_slogan text-center">
           <div class="oe_span12">
           <h3 class="text-center" style="color:#FFFFFF; font-size:20px">Contact us for support, query, customization</h3>
       </div>
           <span>
               <a target="new" href="http://www.acespritech.com" style="color: yellow !important;font-weight:bold;">Website</a> | 
               <a target="new" href="http://www.acespritechblog.com" style="color: yellow !important;font-weight:bold;">Blog</a> | 
               <a href="mailto:info@acespritech.com" style="color: yellow !important;font-weight:bold;">Write us</a>
               | <a style="color: yellow !important;font-weight:bold;">Skype: acespritech</a>
           </span>
       </div>
   </div>
</section>